---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import CTA from "../components/CTA.astro";
import MenuItem from "../components/MenuItem.astro";
const title = "Kantin Dominos - SMK Metland";

const semuaMakanan = await getCollection("makanan");
const semuaMinuman = await getCollection("minuman");
const menuRekomendasi = [
  semuaMakanan.filter((makanan) => makanan.data.rekomendasi),
  semuaMinuman.filter((minuman) => minuman.data.rekomendasi),
].flat();
---

<BaseLayout title={title}>
  <section class="main-section" id="hero">
    <div class="main-section__text">
      <h1>Kantin dominos</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio sit
        itaque obcaecati est aut? Dolor delectus blanditiis porro nam tempore,
        quas consequatur voluptatum eveniet, voluptatem, odit ex quibusdam enim
        repudiandae!
      </p>
    </div>
    <div class="main-section__content">
      <CTA isLink={true} href="#menu">Lihat selengkapnya</CTA>
    </div>
  </section>

  <section class="main-section" id="rekomendasi">
    <div class="main-section__text">
      <h2>Menu rekomendasi kami</h2>
      <p>Menu akan segera datang</p>
    </div>

    <div class="main-section__content">
      <ul class="menu-list">
        {menuRekomendasi.map((menuItem) => <MenuItem menuItem={menuItem} />)}
      </ul>

      <CTA isLink={true} href="/menu">lihat selengkapnya</CTA>
    </div>
  </section>

  <section class="main-section" id="tentang-kami">
    <div class="main-section__text">
      <h2>Tentang kami</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eum quidem
        fugit voluptatum totam? Non beatae, cum molestias, accusamus, blanditiis
        nisi cumque velit perspiciatis dicta provident modi impedit saepe ea?
      </p>
      <CTA isLink={true} href="/tentang-kami">lihat selengkapnya</CTA>
    </div>
  </section>

  <section class="main-section" id="kontak">
    <div class="main-section__text">
      <h2>Kontak</h2>
      <p>ayo ke kantin dominos di SMK Metland</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias,
        quos maxime mollitia porro, aspernatur quibusdam quas eos praesentium
        harum ipsum odit officia culpa. Eveniet natus magnam dignissimos nihil
        accusamus!
      </p>
    </div>
  </section>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</BaseLayout>

<style>
  .main-section {
    min-height: 40vh;
  }

  #hero {
    min-height: 70vh;
    background: var(--white-200);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #tentang-kami {
    background: var(--white-200);
  }
</style>
